<!-- Banner -->
<section class="banner" id="banner">
  <div class="container">
    <div class="col-md-12">

      <div class="col-md-4">
        <div class="panel panel-box">
          <div class="panel-teaser">

            <a class="smooth" href="#architecture">
              <img src="assets/img/placeholder.png">
              <div class="panel-title">
                Architecture
              </div>
            </a>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-box">
          <div class="panel-teaser">

            <a class="smooth" href="#engineering">
              <img src="assets/img/placeholder.png">
              <div class="panel-title">
                Engineering
              </div>
            </a>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-box">
          <div class="panel-teaser">

            <a class="smooth" href="#community">
              <img src="assets/img/placeholder.png">
              <div class="panel-title">
                Community
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
