<!-- Banner -->
<section class="banner" id="banner">
  <div class="container">
    <div class="col-md-12">

      <!-- Panel Box #1 -->
      <div class="col-md-4">
        <div class="panel panel-box">
          <div class="panel-teaser">
            <a class="smooth" href="#architecture">
              <img src="public/img/placeholder.png" width="320" height="320">
              <div class="panel-title">
                Architecture
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Panel Box #2 -->
      <div class="col-md-4">
        <div class="panel panel-box">
          <div class="panel-teaser">
            <a class="smooth" href="#engineering">
              <img src="public/img/placeholder.png" width="320" height="320">
              <div class="panel-title">
                Engineering
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Panel Box #3 -->
      <div class="col-md-4">
        <div class="panel panel-box">
          <div class="panel-teaser">
            <a class="smooth" href="#open-source">
              <img src="public/img/placeholder.png" width="320" height="320">
              <div class="panel-title">
                Open Source
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
