<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {{site.company.shorthand}} &ndash; {{site.div.group}}
</title>
<meta name="description" content="{{site.div.group}}. {{site.div.tagline}}">
<meta name="keywords" content="">
<meta name="author" content="{{site.company.official}}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- References -->
<link rel="sitemap" href="sitemap.xml" type="application/xml" title="Sitemap">
<link rel="canonical" href="{{page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url}}">

<!-- CSS -->
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/main.css">

<!-- Icons -->
<link rel="shortcut icon" href="public/img/favicon.ico" sizes="32x32">
<link rel="shortcut icon" href="public/img/apple-touch-icon.png" sizes="196x196"> <!-- Android -->
<link rel="apple-touch-icon" href="public/img/apple-touch-icon.png" sizes="144x144"> <!-- Apple -->

  <!--[if lt IE 8]>
    <p>You are using an <strong>outdated browser</strong>. Please <a href="http://browsehappy.com/">upgrade your browser</a> to a newer version or use a different browser.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->
