<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>
  {{site.group.name}}
</title>

<meta name="description" content="{{site.group.name}}. {{site.group.tagline}}">
<meta name="keywords" content="">
<meta name="author" content="{{site.company}}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- References -->
<link href="{{page.baseurl}}sitemap.xml" rel="sitemap" type="application/xml" title="Sitemap">
<link href="{{page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url}}" rel="canonical">

<!-- CSS -->
<link rel="stylesheet" href="vendor/bootstrap.css">
<link rel="stylesheet" href="assets/css/main.css">

<!-- Icons -->
<link rel="shortcut icon" href="assets/img/favicon.ico" sizes="32x32">
<link rel="shortcut icon" href="assets/img/apple-touch-icon.png" sizes="196x196"> <!-- Android -->
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" sizes="144x144"> <!-- Apple -->

  <!--[if lt IE 8]>
    <p>You are using an <strong>outdated browser</strong>. Please <a href="http://browsehappy.com/">upgrade your browser</a> to a newer version or use a different browser.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="vendor/html5shiv.min.js"></script>
  <![endif]-->
