<!-- Hero -->
<section class="hero" id="hero">
  <div class="container">
    <div class="col-md-9 col-lg-8">
      <h1 class="title">{{site.div.group}}</h1>
      <h2 class="tagline">{{site.div.tagline}}</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-10 col-lg-9">

          <p>{{site.div.group}}, an entity of {{site.div.official}}, takes great ideas and turns them into valuable and innovative cloud IaaS services. We chart careful courses and forecast advances in technology by incorporating our customers, their needs and desires, into both our planning and the products we offer them. And we use our own platform relentlessly so we can be our harshest critics.</p>

          <p>Ultimately, IBM has a simple vision: "Make the world work better". {{site.div.group}} plays an important role in that vision: <strong>We're building the world a place to work</strong>.</p>

        <!--
          <p>Ultimately, our mission is simple: <strong>Be the de facto platform on the Internet for cloud-based services</strong>.</p>
        -->

        </div>
      </div>
    </div>
  </div>
</section>

<hr>
