<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header smooth">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand smooth borderless" href="#page-top">
        <img src="public/img/logo.png" height="32" width="95" alt="{{site.div.group}}">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden"><a class="smooth" href="#page-top"></a></li>
        <li><a class="smooth" href="#{{site.section.arch}}">{{site.team.arch}}</a></li>
        <li><a class="smooth" href="#{{site.section.engr}}">{{site.team.engr}}</a></li>
        <li><a class="smooth" href="#{{site.section.oss}}">{{site.team.oss}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="smooth" href="#jobs">We're Hiring!</a></li>
      </ul>
    </div>
  </div>
</nav>
