@font-face {
  font-family: "Benton Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/benton-sans-light.eot");
  src: url("../fonts/benton-sans-light.eot?") format("embedded-opentype"), url("../fonts/benton-sans-light.woff") format("woff"), url("../fonts/benton-sans-light.ttf") format("truetype"), url("../fonts/benton-sans-light.svg") format("svg");
}

@font-face {
  font-family: "Benton Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/benton-sans-regular.eot");
  src: url("../fonts/benton-sans-regular.eot?") format("embedded-opentype"), url("../fonts/benton-sans-regular.woff") format("woff"), url("../fonts/benton-sans-regular.ttf") format("truetype"), url("../fonts/benton-sans-regular.svg") format("svg");
}

@font-face {
  font-family: "Benton Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/benton-sans-bold.eot");
  src: url("../fonts/benton-sans-bold.eot?") format("embedded-opentype"), url("../fonts/benton-sans-bold.woff") format("woff"), url("../fonts/benton-sans-bold.ttf") format("truetype"), url("../fonts/benton-sans-bold.svg") format("svg");
}

body {
  width: 100%;
  font-size: 16px;
  color: #231f20;
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: 12px;
}

ol,
ul {
  margin-bottom: 15px;
}

h1 {
  letter-spacing: -.03em;
  font-weight: 300;
  font-size: 40px;
}

h3 {
  margin: 25px 0 7px;
  letter-spacing: -.01em;
  font-size: 29px;
  font-weight: 300;
}

a {
  color: #117dbb;
}

a:hover, a:focus, a:active, a.active {
  color: #117dbb;
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 7px;
  border: 1px solid #d1d3d4;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 20px;
  line-height: 32px;
}

li.active > a.smooth {
  height: 65px !important;
}

@media(min-width: 768px) {
  .navbar {
    height: 65px;
    background-color: rgba(255,255,255,.97);
    -webkit-transition: background .4s ease-in-out;
       -moz-transition: background .4s ease-in-out;
            transition: background .4s ease-in-out;
  }

  .nav-collapse-top {
    height: 65px;
  }

  .navbar-nav > li > a {
    line-height: 38px;
    font-size: 13.5px;
    text-transform: uppercase;
  }
}

.hero {
  min-height: 100%;
  background: #fff;
  padding-top: 150px;
}

.hero .title {
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -.02em;
}

.hero .tagline {
  font-size: 31px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 35px;
}

.banner, .architecture, .engineering, .community, .jobs {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 0;
}

@media(min-width: 992px) {
  .hero, .architecture, .engineering, .community, .jobs {
    padding-bottom: 80px;
  }
}

.panel {
  margin-bottom: 32px;
  box-shadow: none;
}

.panel-box {
  padding: 16px;
}

.panel-box .panel-title {
  font-size: 28px;
  font-weight: 300;
  padding: 5px 0 0 2px;
  color: #231f20;
}

.panel-box .panel-teaser {
  margin: -17px -17px 48px;
}

.panel-box .panel-teaser > * {
  border-radius: 3px;
  text-decoration: none;
}
