<!-- Architecture -->
<section class="architecture" id="architecture">
  <div class="container">
    <div class="col-md-10 col-lg-9">

      <h1>Architecture</h1>
      <p>Architecture is the engine that carries fuzzy ideas and big dreams down the path to realization. We take projects requiring a great deal of synthesis and construct living proofs-of-concept. From there, we line them up with our business and technology strategies, determine whether they can fulfill the demands of our customers, and give our business leaders the power to make key decisions.</p>

      <h3>Our Platform</h3>
      <p>We’re building our platform as a blended solution of different technologies. Its design incorporates a collection of Compute, Identity, Network, and Storage for mixing-and-matching services. Whether its Virtual Servers, Bare Metal, Block Storage, Private Clouds, or Load Balancing, our platform delivers unmatched scalability and control.</p>

      <h3>Product Pillars</h3>
      <p>Our battle-tested, elite teams blend the skills of product know-how with the technical chops to provide solutions for each product pillar&mdash;Compute, Identity, Network, Storage, and Platform Services. Further downstream, we rope in other teams, commit to significant milestones, and groom our work for productization as we ramp-up for a full-blown product launch.</p>

      <h3>Project Management</h3>
      <p>Project Managers are big-picture thinkers and play a pivotal role as bridge-builders between our architects and management. More than just great facilitators, they make vital planning decisions that steer our business forward efficiently and are responsible for curating the fundamental resources for in-flight projects.</p>

    </div>
  </div>
</section>

<hr>
