<!-- Architecture -->
<section class="architecture" id="architecture">
  <div class="container">
    <div class="col-md-10 col-lg-9">

      <h1>Architecture</h1>

      <p>Architecture is the engine that carries fuzzy ideas and big dreams down the path to realization. We take projects requiring a great deal of synthesis and construct living proofs-of-concept. From there, we line them up with our business and technology strategies, determine whether they can fulfill the demands of our customers, and give our business leaders the power to make key decisions.</p>

      <h3>Our Platform</h3>

      <p>We’re building our platform as a blended solution of different technologies. Its design incorporates a collection of <strong>Compute</strong>, <strong>Identity &amp; Security</strong>, <strong>Networking</strong>, and <strong>Storage</strong> for mixing-and-matching services. Whether its Virtual Servers, Bare Metal, Block Storage, Private Clouds, or Load Balancing, our platform delivers unmatched scalability and control.</p>

      <h3>Productization</h3>

      <p>Development begins with a persistent itch. We explore ideas to scratch that itch by applying strategies and transform them into solutions. Further downstream, we rope in other teams, commit to significant milestones, and groom the project for productization as we ramp-up for a full-blown product launch.</p>

      <h3>Design</h3>

      <p>Design is instrumental to our success. This is where talented producteers, designers, and developers experiment with new ideas that steer our product's development. Results are carefully validated, and evaluated, to see how far we should take a project. We also look to the technological horizons, forecast long-term conditions, and identify promising opportunities <mark>with the least amount of obstacles</mark>.</p>

    </div>
  </div>
</section>

<hr>
