    <!-- Engineering -->
    <section class="engineering" id="engineering">
      <div class="container">
        <div class="col-md-10 col-lg-9">

          <!-- Start Content -->
          <h1>Engineering &amp; Quality</h1>

            <p>Our Engineering and Quality teams stand on the fringes of technology. We survey the chaos beyond the boundaries, chart new directions, carve new pathways, lay foundations, connect the plumbing, and power up new spaces our customers need. We accomplish this with innovative and powerful tools of our own design.</p>

          <h3>Globally Distributed Systems</h3>

            <p>IBM Cloud's approach to offering a global infrastructure inspired us to come up with a more efficient design: a low-latency, high-bandwidth network for running cloud services on a globally distributed system. Our engineers push the boundaries of what's possible by utilizing the global high-performance network, and what we have today is the vertebrae for building highly-available systems with more reliability and better performance compared to alternative systems.</p>

          <h3>Cloud Infrastructure</h3>

            <p>Our cloud infrastructure harnesses a modular architecture with unparalleled scalability and control. This includes a full-featured API and sophisticated automation to control a flexible unified platform that spans physical and virtual devices. Using a combination of quality, feature development, and partnerships, we continuously strive to manage and optimize our core infrastructure for the long-run.</p>

          <h3>Emerging Technology</h3>

            <p>Working at the intersection where technology and business meet means we hunt for new contemporary advances day-in and day-out. Always on the front-line of IBM Cloud's charge toward innovation, our Engineering and Quality teams revolutionize our technological growth and efficiencies through the use of incremental development and convergences. This includes advances in computing, cognitive science, storage, intelligent agents, and more.</p>
          <!-- End Content -->

        </div>
      </div>
    </section>
    <hr>
