<!-- Jobs -->
<section class="jobs" id="jobs">
  <div class="container">
    <div class="col-md-10 col-lg-9">

      <h1>We're Hiring</h1>

        <p>How are your skills being utilized today? How often do you get to learn about things that interest you? At {{site.div.group}}, we're committed to finding a middle-ground for both your skills and interests.</p>

        <p>Every day, our talented folks are doing things that improve their skills, our company, and ultimately the cloud. In our fast-paced industry, every person has the opportunity to:</p>

          <ul>
            <li>Help us make big technological leaps.</li>
            <li>Be instrumental in making {{site.div.group}} the de facto platform on the Internet.</li>
            <li>Work toe-to-toe with like-minded people.</li>
            <li>Deep dive into any number of new and exciting projects coming down the pipe.</li>
          </ul>

        <p>We're growing at an extraordinary rate and looking eagerly to recruit top-talent in the fields of architecture, engineering, quality, and more. So, what are waiting for? Join us!</p>

<!--
      <h3>Software Architects</h3>

        <p>Our architects are big-picture thinkers and play a pivotal role as bridge-builders between technology and management. More than just great software engineers, they make vital decisions that drive our business forward technologically and are responsible for curating the fundamental blocks of our platform.</p>

        <p><a href="https://jobs3.netmedia1.com/cp/faces/search_results?adv=true&keywords=architect+softlayer&continent_id=3&country_id=50&city_id=11983&category_ext_id=120&master_bu_id=126&anylocation=0" target="_blank">Click here</a> for a listing of open <strong>Software Architect</strong> positions.</p>
-->

      <h3>Software Engineers</h3>

        <p>Our development cycle is extremely fast, and we’ve built our platform to keep it that way. It’s common to write code and have it running live a few days later. This comes as a pleasant surprise to engineers who have worked at other companies where code takes months or years to see the light of day. If you work with us, you'll make an immediate impact.</p>

        <p><a href="https://jobs3.netmedia1.com/cp/faces/search_results?adv=true&keywords=engineer+softlayer&continent_id=3&country_id=50&city_id=11983&category_ext_id=120&master_bu_id=126&anylocation=0" target="_blank">Click here</a> for a listing of open positions.</p>

      <h3>Product Specialists</h3>

        <p>Products are instrumental to our success. These individuals look to the technological horizons, forecast long-term conditions, and identify promising opportunities across one or more aspects of our product pillars&mdash;Compute, Identity, Network, Storage, and Platform Services.</p>

        <p><a href="https://jobs3.netmedia1.com/cp/faces/search_results?adv=true&keywords=product&continent_id=3&country_id=50&city_id=11983&category_id=1325&category_ext_id=120&master_bu_id=126&anylocation=1" target="_blank">Click here</a> for a listing of open positions.</p>
    </div>
  </div>
</section>
