<!-- Open Source -->
<section class="open-source" id="open-source">
  <div class="container">
    <div class="col-md-10 col-lg-9">

      <h1>Open Source</h1>

      <p>Our combustion began at the grassroots level within open source communities. Giving back to those communities allows us to work with a number of creative individuals and keep an eye on what's trending. To date, we have <span id="github-repos"></span> active open source projects on <a href="http://github.com/softlayer" target="_blank">GitHub</a>.</p>

      <h3>Projects</h3>

      <p>With open source at the helm of our community development, we're pumping out a lot of great projects with help from our contributors.</p>

      <p>For example, <a href="http://softlayer.github.io/jumpgate" target="_blank">Jumpgate</a>, a simple library for making clouds OpenStack-compatible, interfaces with every endpoint on the OpenStack API and shuffles data between the two. Our <a href="http://softlayer.github.io/knife-softlayer" target="_blank">Knife-SoftLayer</a> plugin lets you launch, bootstrap, and manage compute instances in the cloud. And then there's <a href="http://softlayer.github.io/softlayer-python/cli" target="_blank">Python CLI</a>. This little beauty gives you the facilities to spin-up virtual servers and provides seamless access to virtual environments without having to grapple with APIs.</p>

      <p>Take a look at <a href="https://github.com/softlayer" target="_blank">our projects on GitHub</a> and contribute wherever you can make an impact.</p>

      <h3>Contributing</h3>

      <p>Our workflow follows the  <a href="https://help.github.com/articles/using-pull-requests" target="_blank">fork-pull model</a> and we leverage issues and pull requests for source control, bug fixes, and new feature development. Anyone is welcome to submit a request. All we ask is that you follow the Contributing Guidelines posted under each of our GitHub repositories.</p>

      <p>We license our code and documentation under the terms of the MIT license. By contributing to any project, you're allowing us to distribute your contribution under the terms of this license.</p>

    </div>
  </div>
</section>

<hr>
